@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

.background { 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-image: url('/assets/7774236_3736765.jpg'); 
    background-size: cover; 
    background-position: center; 
    filter: blur(10px);
    opacity: 0.4; 
    z-index: -1; 
} 

.no-border {
    border: 0;
    box-shadow: none;
}

input:focus{
    box-shadow: none;
}